{% extends 'mainapp/base.html' %}
{% block content %}
<h2>Мой профиль </h2>
<h2>Мои статьи </h2>
<h3>Опубликованные</h3>

{% for i in publicart %}
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{ i.title }}</h5>

    <a href="{% url 'articleapp:view_article' i.id %}" class="btn btn-primary">Редактировать</a>
  </div>
</div>
<br>
{% endfor %}
<h3>Неопубликованные</h3>
{% for j in privateart %}
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{ j.title }}</h5>

    <a href="{% url 'articleapp:view_article' j.id %}" class="btn btn-primary">Редактировать</a>
  </div>
</div>
<br>
{% endfor %}
{% endblock %}